{% extends "dashboard.html" %}

{% load thumbnail %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Subtitle</th>
        <th>Description</th>
        <th>Button Text</th>
        <th>Button URL</th>
      </tr>
    </thead>
    <tbody>
      {% for banner in banners %}
      <tr>
        <td><img src="{% thumbnail banner.image 100x100 %}" alt="{{ banner.name }}"></td>
        <td>{{ banner.name }}</td>
        <td>{{ banner.subtitle }}</td>
        <td>{{ banner.description }}</td>
        <td>{{ banner.button_text }}</td>
        <td>{{ banner.button_url }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
